.profile-info-input{
    width: 100%;
    display: block;
    border: 0;
    padding: 5px 0 5px 5px;
    margin: 0;
    border-radius: 5px;
    font-size: 1.0em;
}

.profile-container{
    width: calc(100%/2);
    display: inline-block;
    background: #a0edf7;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.profile-image-container{
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    border: 5px solid #0ea5c6;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.profile-image{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
}

.profile-fields-container{
    text-align: left;
    font-weight: bold;
    line-height: 2;
    color: #074684;
}

.text-align-center{
    text-align: center;
}

.profile-heading{
    color: #074684;
}

.profile-edit-button{
    position: absolute;
    top: 0;
    right: 0;
}