.profile-info-input{
    width: 100%;
    display: block;
    border: 0;
    padding: 5px 0 5px 5px;
    margin: 0;
    border-radius: 5px;
    font-size: 1.0em;
}

.profile-image-container{

}

.profile-image{
    min-height: 100px;
    min-width: 100px;
    max-height: 200px;
    max-width: 200px;
    background-color: lightgray;
}